<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" [(ngModel)] = "filteredStatus">
      <br>
      
      <div class="btn btn-sm btn-primary" (click)="onAddServer()">Add Server</div>
      <br>
      <h2>
        <!--ASHISH: Async pipe example-->
        App Status: {{appStatus | async}}
      </h2>
      <br>
      <ul class="list-group">
        <!--Filter added on the for loop-->
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter:filteredStatus:'status'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten: 10}}</strong> | 
          {{ server.instanceType | uppercase}} | 
          {{ server.started | date: 'fullDate'}}
        </li>
      </ul>
    </div>
  </div>
</div>
